@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6; /* Gray-100 agar senada dengan MainLayout */
}

/* Reset dasar agar aplikasi penuh se-layar */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow: hidden; /* Mencegah scroll double karena kita pakai scroll di dalam card */
}

/* Custom Scrollbar minimalis untuk area daftar produk/keranjang */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}